/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 2px;
    padding: 0;
    color: #a17ecf;
}

/* Set a background color for the body */
body {
    background:linear-gradient(#3a0874,#430253,#48034b,#300321);
    background-color: #000000;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
   
    color: #f2aff8;
    text-align: center;
    padding: 20px 0;
    

}

/* Style the profile title */
.profile-title {
    font-size: 35px;
    font-weight: 1000;
    color:rgb(255, 255, 255);
}


/* Style the main content area */
main {
    max-width: 800px;
    border-radius: 1rem;
    margin: 20px auto;
    background:linear-gradient(#d4f7f1,#e7c4f0,#f6f7c0,#f5d4ea);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 3px solid #f5f4f7;
}

/* Style profile sections */
.profile-section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 1rem;
    background-color: #000000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Style section titles */
.section-title {
    color: #fff;
    font-size: 25px;
    font-weight: 800px;
    margin-bottom: 10px;
}


/* Style detail labels */
.detail-label {
    font-weight: bold;
    color: #b6f1c8;
}

/* Style course lists */
.course-list {
    list-style: none;
    color: #f0dede;
    padding-left: 0;
}

/* Style course list items */
.course-list li {
    color: #8ff8ea;
    margin-bottom: 5px;
}

/* Style links inside course lists */
.course-list a {
    text-decoration: none;
    color: #fcf9f9;
}

/* Style links on hover */
.course-list a:hover {
    text-decoration: underline;
    color: #04ff4f;
}

/* Style the graph container */
.graph-container {
    padding: 20px;
    border-radius: 1rem;
    background-color: #000000;
    border: 3px solid #04ff4f;
}

/* Style the weekly goal form */
.goal-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 100px;
    color: #b7f5dd;
}

/* Add spacing for yearly activity calendar */
#yearly-activity {
    margin-top: 20px;
}
