/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color for the body */
body {
    background:linear-gradient(#3a0874,#430253,#48034b,#300321);
    background-color: #000000;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background:linear-gradient(#3a0874,#430253,#48034b,#300321);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Style the profile title */
.profile-title {
    font-size: 24px;
}

/* Style the main content area */
main {
    max-width: 800px;
    border-radius: 1rem;
    margin: 20px auto;
    background:linear-gradient(#3a0874,#430253,#48034b,#300321);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style profile sections */
.profile-section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 1rem;
    background-color: #000000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Style section titles */
.section-title {
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 10px;
}

/* Style detail labels */
.detail-label {
    font-weight: bold;
}

/* Style course lists */
.course-list {
    list-style: none;
    padding-left: 0;
}

/* Style course list items */
.course-list li {
    margin-bottom: 5px;
}

/* Style links inside course lists */
.course-list a {
    text-decoration: none;
    color: #000000;
}

/* Style links on hover */
.course-list a:hover {
    text-decoration: underline;
}

/* Style the graph container */
.graph-container {
    padding: 20px;
    border-radius: 1rem;
    background-color: #000000;
    border: 3px solid #04ff4f;
}

/* Style the weekly goal form */
.goal-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 100px;
}

/* Add spacing for yearly activity calendar */
#yearly-activity {
    margin-top: 20px;
}
